@model List<Producto>
@{
    ViewBag.Title = "Index";
}

<h2>
    <a href="@Url.Action("Nuevo","Producto")" class="btn btn-primary right">Nuevo</a>
    Listado de Productos</h2>
<hr/>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>ProductID</td>
            <td>ProductName</td>
          
            <td>QuantityPerUnit</td>
            <td>UnitPrice</td>
            <td>UnitsInStock</td>
            <td>UnitsOnOrder</td>
            <td>ReorderLevel</td>
           
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
        <tr>
            <td>@producto.ProductID</td>
            <td>@producto.ProductName</td>
          
            <td>@producto.QuantityPerUnit</td>
            <td>@producto.UnitPrice</td>
            <td>@producto.UnitsInStock</td>
            <td>@producto.UnitsOnOrder</td>
            <td>@producto.ReorderLevel</td>
           
            <td>
                <a href="@Url.Action("Actualizar","Producto", new { id = producto.ProductID})" class="btn btn-success right">Actualizar</a>
                <a href="@Url.Action("Eliminar","Producto", new { id = producto.ProductID})" class="btn btn-danger right">Eliminar</a>
                <a href="@Url.Action("Detalle","Producto", new { id = producto.ProductID})" class="btn btn-default right">Ver Detalle</a>
            </td>
        </tr>
        }
    </tbody>
</table>
